.back{
    margin-top:2%;
    width: 80%;
    min-height:55vh;
    border: 6px solid rgb(83, 4, 83);
    box-sizing: border-box;
    background-image: repeating-radial-gradient(white,purple);
    margin-left: 10%;
    margin-right: 10%;

}
.back h1{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
.back h1{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
.li th{
  width:33%;
}
.li td{
    font-weight: 900;
    text-align: center;
    border-bottom: 3px solid ;
}
tr td button{
    height:80%;
    min-width: 40%;
    background-color: rgb(45, 43, 43);
    border-radius: 16px;
    font-weight: 300;
    color: white;
}
tr td button:hover{
    background-color: brown;
}