.main {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background-image: repeating-radial-gradient(violet, rgb(71, 7, 71));
}
.form1 {
  margin: 2px;
  padding-left: 20px;
  border: 9px solid rgb(84, 7, 84);
  border-radius: 2%;
  height: 500px;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(51, 49, 49);
}
.form1 div {
  margin: 10px;
}
.form1 h1 {
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  color: white;
}
.form1 h3 {
  color: white;
}
.form1 input {
  width: 90%;
  height: 50px;
  border-radius: 16px;
}
.form1 button {
  margin: 3px 0px;
  width: 88%;
  height: 50px;
  margin: 11px;
  outline: none;
  border-radius: 16px;
  cursor: pointer;
  background-color: #9752a8;
}
.form1 button h3 {
  color: rgb(244, 240, 240);
}
.form1 button:hover {
  color: #111;
  background: #c401eb;
  box-shadow: 0 0 59px #aa03d4;
}

.button {
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 31%;
  height: 5em;
  border-radius: 16px;
  background-color: rgba(213, 221, 213, 0);
  font-weight: bolder;
  outline: none;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(51, 49, 49);
  box-shadow: 0 0 69px rgb(51, 49, 49);
}
.form1 p {
  text-align: center;
  font-weight: bolder;
  color: aquamarine;
  cursor: pointer;
  text-decoration: underline;
}
